<!DOCTYPE html>
<html>
<head>
  <title>PickARecord</title>
  <%= stylesheet_link_tag    "pick_a_record/application", :media => "all" %>
  <%= javascript_include_tag "pick_a_record/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
